body {
    font-family: 'Franklin Gothic Medium',  sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
    margin: 0;
}

.container {
    text-align: center;
}

form {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    box-sizing: border-box;
}

input {
    display: block;
    width: calc(100% - 2px);
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #3C388D;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #45a049;
}

.forgot-password {
    display: block;
    text-align: center;
    margin-top: 10px;
    cursor: pointer;
    color: #007BFF;
    text-decoration: none;
}

.switch-link {
    display: block;
    text-align: center;
    margin-top: 10px;
    cursor: pointer;
    color: #007BFF;
    text-decoration: none;
}

.switch-link:hover, .forgot-password:hover {
    text-decoration: underline;
}

.switch-link {
    margin-top: 20px;
}

.alt-button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
    text-decoration: none;
    display: inline-block;
}

.alt-button:hover {
    background-color: #45a049;
}
